.main{
color: #E0E0E0;
	
}
body{
	color: #E0E0E0;
}
.f_text{
	color: #E0E0E0;
	display: flex;
	margin-top: 120px;
	justify-content: center;
	
}
html{
	background-color: black;
	font-family: Arial;
}
.topnav{
	background-color: black;
	height: 80px;
	padding: 0 30px;

}
.topnav a{

	
}
#nmoa {
	font-size: 60px;
}
#lfim {
	margin-top: 40px;
	display: fill;
	object-fit: cover;
}
.nav-img a{
	color: #E0E0E0;
	text-decoration: none;
	margin-top: 50px;
	margin-bottom: 30px;
	margin-right: 30px;
	font-size: 20px;
	display: fixed;
	align-items: grid;
	justify-content: center;
}
.nav-links a{
	color: #E0E0E0;
	text-decoration: none;
	margin-left: 200px;
	font-size: 20px;
	margin-top: -40%;

}
.topnav a:hover{
	color: #FFFFFF;
	font-size: 20px;
	background-color: black;
	border-radius: 6px;
}
.lion{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#liontext {
	font-size: 40px;
	position:absolute;
	color: #FFFFFF;
	}
.lion img{
	padding: 0 0px;
	width: 100%;
	object-fit: cover;
	
}
.visits_days{
	width: 33%;
	font-size:20px;

}
.visits_holi{
	float:left;
	margin-left:33%;
	margin-right:33%;
	margin-top:-28%;
	font-size:20px;
}
.footer{
	clear: both;
	background-color: black;
	color: #E0E0E0;
	text-align: center;
	padding: 10px;
}
.footer_c{
	clear: both;
	background-color: black;
	color: #E0E0E0;
	text-align: center;
	padding: 10px;
	margin-bottom:0px;
	margin-top:8%;
}
#emailInput{
	margin-left:108px;
	margin-top:-14px;
}
.inputs{
	width:33%;
}
.result{
	padding-left:40%;
	float:left;
	margin-top:-290px;
	width: 30%;
}
.exibition_title{
	margin-top: 50px;
	background-image:url("Exhibition_trans.png");
	height:700px;
	position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#anna{
	font-size: 100px;
	position:absolute;
	color: #FFFFFF;
	font-family:Old English Text MT;
}
.exhibition{
	width:55%;
}
#rifle{
	width:600px;
	float: right;
	margin-top:-350px;
}
.learn{
	width:100%;
	display: flex;
	justify-content: center;
	align-content:center;
}
.gallery{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 10px;
	margin-top:50px;
	margin-left: 1%;
	justify-content: center;
}
.gallery img{
	width:100%;
	height:200px;
	object-fit:cover;
	border-radius: 6px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	transition: transform 0.2s;
}

.gallery img:hover{
	transform: scale(1.01);
}
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
#emailInput{
	margin-left:-1px;
}